@import "tailwindcss";

@theme {
  --color-blue-50: #f1f0ff;
  --color-blue-100: #e6e4ff;
  --color-blue-200: #d0cdff;
  --color-blue-300: #aea6ff;
  --color-blue-400: #8773ff;
  --color-blue-500: #623bff;
  --color-blue-600: #5014ff;
  --color-blue-700: #3a00ed;
  --color-blue-800: #3501d6;
  --color-blue-900: #2d03af;
  --color-blue-950: #180077;
}

:root {
  --color-blue-50: #f1f0ff;
  --color-blue-100: #e6e4ff;
  --color-blue-200: #d0cdff;
  --color-blue-300: #aea6ff;
  --color-blue-400: #8773ff;
  --color-blue-500: #623bff;
  --color-blue-600: #5014ff;
  --color-blue-700: #3a00ed;
  --color-blue-800: #3501d6;
  --color-blue-900: #2d03af;
  --color-blue-950: #180077;
}

* {
  box-sizing: border-box;
}

html,
body {
  min-width: 375px;
  max-width: 100vw;

  overflow-x: hidden;

  min-height: 100vh;
  min-height: 100dvh;

  height: 100vh;
  height: 100dvh;

  color: black;
  background-color: white;
}
